h1 {
  margin-bottom: 0;
  font-size: 35px;
}
span {
}

.search-bar-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: White;
  width: 100%;
  justify-content: center;
  margin-top: 6rem;
}

.search-bar-title {
  margin-bottom: 1.5em;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-button {
  margin-top: 15px;
  width: 8rem;
  height: 48px;
  border-color: white;
  border-radius: 0px;
  font-size: 25px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .search-button {
    margin-top: 15px;
    width: 8rem;
  }

  .search-bar {
    width: 600px;
  }
}
